body {
    background-color: #165cac;
}
button {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    margin-top: 3px;
    background-color: #484848;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.checkBox {
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    color: white;
}

.controls {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    margin-top: 2px;
    font-size: 20px;
}

#scoreboard {
    height: 150px;
    width: 418px;
    background-color: #00b7ff;
    border: 1px solid darkgrey;
    margin-left: calc(50% - 210px);
}

#game-container {
    height: 420px;
    width: 420px;
    background-color: rgb(233, 233, 233);
    margin-left: calc(50% - 210px);
    cursor: pointer;

}

.row {
    display:flex;
    flex-direction: row;
}

.counter {
    height: 75px;
    width: 138px;
}

/* Defines size of squares*/
.square-space {
    height: 138px;
    width: 138px;
    border: 1px solid darkgrey;
}

.square-space:hover {
    background-color: lightpink;
}