body {
    background-color: #165cac;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

h4 {
    color: white;
}

#scoreboard {
    height: 150px;
    width: 418px;
    background-color: #00b7ff;
    border: 1px solid darkgrey;
    margin-left: calc(50% - 210px);
}

#game-container {
    height: 420px;
    width: 420px;
    background-color: rgb(233, 233, 233);
    margin-left: calc(50% - 210px);
    cursor: pointer;

}

.row {
    display:flex;
    flex-direction: row;
}

.counter {
    height: 75px;
    width: 138px;
}

/* Defines size of squares*/
.square-space {
    height: 138px;
    width: 138px;
    border: 1px solid darkgrey;
}

.square-space:hover {
    background-color: lightpink;
}